{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p></p>
    <p></p>
<p></p>
    <p class="article-content">This is a website built using Flask, Python, and SqlAlchemy. It was created by Shasheen Sharad Bandodkar and Addler Pierre-Louis for our Graduate Level Software Testing class. This is a website where game lovers can come post about their favaorite games, see what others may post about their favorite games, and even what the admin thinks. This would be the hub that games are brought, to be discovered by others.   </p>
{% endblock content %}
