{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime("%m/%d/%Y") }}</small>
          <div>
          	<a class = "btn btn-secondary btn-sm m-1" href="{{ url_for('game_update', game_id = post.id )}}">Update</a>>
          	<button type="button" class="btn btn-danger btn-small m-t m-b" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        </div>
        <img class="rounded-circle account-img" src="{{ image_file }}"><h2 class = "article-title">Title: {{ post.title }}</h2>
        <h3><a class="article-title" >System: {{ post.system }}</a></h3>
        <h4><p class="article-title">Released On: {{ post.date_released.strftime("%d/%m/%Y") }}</p></h4>
        <h5><p class="article-title">Admin Rank: {{ post.rank }}/10</p></h5>
        <p class="article-content">Description: {{ post.descript }}</p>
        <p><a class="article-content" href="#">{{ post.tags }}<a/></p>
      </div>
    </article>
    <!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <form action="{{ url_for('game_delete', game_id=post.id) }}" method="POST">
	        	<input class="btn btn-danger" type="submit" value="Delete">
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock content %}
